.clients {
  margin: 98px auto 71px;
  max-width: 1170px;
  display: flex;

  @media (max-width: 1200px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    margin: 70px auto 50px;
  }

  @media (max-width: 767px) {
    margin: 70px auto 40px;
  }
}

.clients__intro-title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: -9px 0 23px 7px;

  @media (max-width: 767px) {
    font-size: 24px;
    margin-left: 5px;
  }
}

.clients__intro-text {
  color: #adadad;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.clients__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.clients__item {
  width: 172px;
  list-style: none;
  margin-left: 28px;

  img {
    max-width: 100%;
    vertical-align: top;
  }

  @media (max-width: 1200px) {
    margin-left: 15px;
  }

  @media (max-width: 1023px) {
    width: 172px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    margin-left: 8px;
  }
}