@import 'variables';

.header__inner {
  height: 147px;
  position: relative;
  max-width: $max-width;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    right: 331px;
    width: 1px;
    background-color: $light-grey;
  }

  @media (max-width: 1200px) {
    height: 100px;
    padding: 0 1.5rem;

    &::after {
      right: 355px;
    }
  }

  @media (max-width: 1023px) {
    height: 70px;
  }

  @media (max-width: 767px) {
    display: block;
    height: auto;
    padding: 1.5rem 1.5rem 1rem;

    &::after {
      content: none;
    }
  }
}

.logo {
  display: inline-block;

  img {
    vertical-align: top;
  }

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.menu {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;

  @media (max-width: 1023px) {
    margin-top: 0;
  }
}

.menu__item {
  text-transform: uppercase;
  margin-left: 36px;
  color: #202242;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: color .2s ease-out;

  &:first-child {
    margin-left: 0;
  }

  &.active, &:hover {
    transition: color .2s ease-out;
    color: $yellow;
  }

  @media (max-width: 767px) {
    margin-left: 25px;
  }
}