@import 'variables';

.header__inner {
  padding: 58px 0 56px;
  position: relative;
  max-width: $max-width;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    right: 331px;
    width: 1px;
    background-color: $light-grey;
  }

  @media (max-width: 1200px) {
    padding: 20px 1.5rem 19px;

    &::after {
      right: 355px;
    }
  }

  @media (max-width: 767px) {
    display: block;

    &::after {
      content: none;
    }
  }
}

.logo {
  display: inline-block;
  margin-right: 30px;

  img {
    vertical-align: top;
  }

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  text-transform: uppercase;
  margin: 10px 36px 0 0;
  color: #202242;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: color .2s ease-out;

  &:last-child {
    margin-right: 20px;
  }

  &.active, &:hover {
    transition: color .2s ease-out;
    color: $yellow;
  }

  @media (max-width: 767px) {
    margin-right: 25px;
  }
}