@import "variables";
.offers {
  position: relative;
  background-color: $yellow;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: $dark-blue;
  }

  &::after {
    width: 1px;
    background-color: white;
    left: 50%;
    transform: translateX(-100%)
  }
}

.offer {
  color: #fff;
  text-align: center;
}

.offer__body {
  padding: 115px 83px 104px;

  @media (max-width: 1023px) {
    padding: 90px 55px 80px;
  }

  @media (max-width: 767px) {
    padding: 50px 20px 50px;
  }
}

.offer__inner {
  max-width: $max-width;
  margin: auto;
  position: relative;
  display: flex;
}

.offer__sign {
  height: 169px;

  @media (max-width: 1023px) {
    height: 120px;
  }

  @media (max-width: 767px) {
    height: 90px;
  }

  @media (max-width: 480px) {
    font-size: 80px;
  }
}

.offer__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  margin: 52px 0 14px;

  @media (max-width: 1200px) {
    font-size: 30px;
    margin-top: 50px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    margin-top: 45px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
    margin-top: 36px;
  }
}

.offer__text {
  margin-bottom: 36px;
}

.offer__more {
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  min-height: 50px;
  min-width: 149px;
  color: inherit;
  text-decoration: none;
  border: 2px solid #fff;
  box-shadow: inset 0 0 1px #fff;
  cursor: pointer;
  @extend .hover_blue;

  @media (max-width: 600px) {
    min-height: 40px;
    min-width: 110px;
    line-height: 40px;
  }
}

.offer_host {
  .offer__sign {
    margin: auto;
    background: url("../img/webhost.png") no-repeat 50% 50%;
    background-size: contain;
  }

  .offer__more {
    @extend .hover_yellow;
  }
}

.offer_domain {
  .offer__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
    font-weight: 700;
    font-size: 132px;

    @media (max-width: 1023px) {
      font-size: 100px;
    }

    @media (max-width: 767px) {
      font-size: 80px;
    }

    @media (max-width: 480px) {
      font-size: 60px;
    }
  }
}