.clients__item img,
.features__img img,
.logo img,
.offer__more,
.promo__img img {
  vertical-align: top
}
.clients__item,
.features__item,
.reviews__item {
  list-style: none
}
body {
  font-family: Raleway,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #202242
}
.main {
  display: block
}
.wrap {
  min-width: 479px
}
.check-domain__submit,
.custom-select__view,
.hover_blue {
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out
}
.check-domain__submit:hover,
.custom-select__view:hover,
.hover_blue:hover {
  background: #202242;
  color: #fff;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in
}
.check-domain {
  background: rgba(255,255,255,.5);
  padding: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}
@media (max-width:767px) {
  .check-domain {
    padding: 10px
  }
}
.check-domain__field,
.check-domain__submit,
.custom-select__view {
  display: block;
  height: 54px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  border: none
}
.clients,
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox
}
.check-domain__submit {
  background: #ffe13e;
  padding: 0 17px 0 18px;
  border-left: 1px solid #fff;
  color: #fff
}
.check-domain__field {
  font-size: 18px;
  width: 273px;
  background: #fff;
  padding: 0 23px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
@media (max-width:767px) {
  .check-domain__field {
    width: calc(100% - 260px);
    font-size: 16px;
    padding: 0 15px
  }
}
.custom-select {
  position: relative
}
.custom-select__view {
  color: #2d2d2d;
  min-width: 108px;
  font-size: 18px;
  font-weight: 600;
  background: #ffe13e;
  padding: 0 30px 0 10px;
  position: relative;
  text-align: left
}
.features,
.footer,
.offer,
.promo__title {
  text-align: center
}
.custom-select__view::after {
  content: '';
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  right: 8px;
  width: 15px;
  height: 8px;
  background: url(../img/arr-down.png) 50% 50% no-repeat;
  cursor: pointer
}
.features__img::after,
.footer::before {
  right: 0;
  content: '';
  left: 0
}
@media (max-width:767px) {
  .custom-select__view {
    min-width: 90px;
    font-size: 16px
  }
}
.custom-select__list {
  visibility: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 54px;
  color: #202242
}
.custom-select__item {
  list-style: none;
  min-height: 54px;
  line-height: 54px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  background: #ffe13e;
  border-top: 1px solid rgba(123,123,123,.57)
}
.clients__intro-title,
.features__title {
  font-weight: 500;
  font-family: 'Maven Pro',sans-serif
}
.clients {
  margin: 98px auto 71px;
  max-width: 1170px;
  display: flex
}
@media (max-width:1200px) {
  .clients {
    padding: 0 1.5rem
  }
}
@media (max-width:1023px) {
  .clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 70px auto 50px
  }
}
@media (max-width:767px) {
  .clients {
    margin: 70px auto 40px
  }
}
.clients__intro-title {
  font-size: 36px;
  margin: -9px 0 23px 7px
}
@media (max-width:767px) {
  .clients__intro-title {
    font-size: 24px;
    margin-left: 5px
  }
  .clients__intro-text {
    margin-bottom: 30px
  }
}
.clients__intro-text {
  color: #adadad;
  font-size: 16px;
  line-height: 24px
}
.clients__list {
  margin: 0;
  padding: 0;
  display: flex
}
.clients__item {
  width: 172px;
  margin-left: 28px
}
.clients__item img {
  max-width: 100%
}
@media (max-width:1200px) {
  .clients__item {
    margin-left: 15px
  }
}
@media (max-width:1023px) {
  .clients__item {
    width: 172px;
    margin-left: 30px
  }
  .clients__item:first-child {
    margin-left: 0
  }
}
@media (max-width:767px) {
  .clients__item {
    margin-left: 8px
  }
}
.features {
  background: url(../img/features-bg.png) 50% bottom no-repeat #fbf8f1;
  background-size: contain
}
.features__inner {
  max-width: 1170px;
  margin: auto;
  padding: 100px 0 103px
}
@media (max-width:1200px) {
  .features__inner {
    padding-right: 1.5rem;
    padding-left: 1.5rem
  }
}
.features__title {
  font-size: 48px;
  margin: 0 0 35px
}
@media (max-width:767px) {
  .features__title {
    font-size: 40px
  }
}
.features__intro {
  font-size: 24px;
  margin-bottom: 84px
}
@media (max-width:1023px) {
  .features__inner {
    padding: 50px 0 30px
  }
  .features__intro {
    margin-bottom: 50px
  }
}
@media (max-width:767px) {
  .features__intro {
    font-size: 22px
  }
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0
}
.features__item {
  width: 270px
}
@media (max-width:1023px) {
  .features__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .features__item {
    width: 40%;
    margin-bottom: 35px
  }
}
.features__name {
  font-family: 'Maven Pro',sans-serif;
  font-weight: 400;
  color: #f4d320;
  font-size: 30px;
  margin: 30px 0 22px
}
@media (max-width:767px) {
  .features__name {
    font-size: 25px;
    margin: 25px 0 15px
  }
}
@media (max-width:480px) {
  .features__name {
    font-size: 20px
  }
}
.features__img {
  display: block;
  position: relative;
  margin-bottom: 67px;
  height: 128px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain
}
.header__inner,
.menu {
  display: -webkit-box;
  display: -ms-flexbox
}
.features__img img {
  max-width: 100%
}
.features__img::after {
  position: absolute;
  width: 69px;
  margin: auto;
  height: 3px;
  background: #8d8d99;
  bottom: -35px
}
@media (max-width:1023px) {
  .features__img {
    margin-bottom: 60px
  }
  .features__img::after {
    bottom: -30px
  }
}
.footer {
  position: relative;
  min-height: 164px;
  background: #202242;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.footer::before {
  position: absolute;
  top: 34px;
  margin: auto;
  width: 31px;
  height: 30px;
  background: url(../img/footer-shape.png) no-repeat
}
.footer__copyright {
  padding-top: 77px;
  margin: 0
}
.header__inner {
  height: 147px;
  position: relative;
  max-width: 1170px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__inner::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  right: 331px;
  width: 1px;
  background-color: #ebebeb
}
@media (max-width:1200px) {
  .header__inner {
    height: 100px;
    padding: 0 1.5rem
  }
  .header__inner::after {
    right: 355px
  }
}
@media (max-width:1023px) {
  .header__inner {
    height: 70px
  }
}
@media (max-width:767px) {
  .header__inner {
    display: block;
    height: auto;
    padding: 1.5rem 1.5rem 1rem
  }
  .header__inner::after {
    content: none
  }
  .logo {
    margin-bottom: 1rem
  }
}
.logo {
  display: inline-block
}
.menu {
  margin-right: 20px;
  margin-top: 10px;
  display: flex
}
.menu__item {
  text-transform: uppercase;
  margin-left: 36px;
  color: #202242;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out
}
.menu__item:first-child {
  margin-left: 0
}
.menu__item.active,
.menu__item:hover {
  -webkit-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
  color: #ffe13e
}
.hover_blue,
.offer__more {
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out
}
.hover_blue:hover,
.offer__more:hover {
  background: #202242;
  color: #fff;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in
}
.hover_yellow,
.offer_host .offer__more {
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out
}
.hover_yellow:hover,
.offer_host .offer__more:hover {
  background: #ffe13e;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in
}
.offers {
  position: relative;
  background-color: #ffe13e
}
.offers::after,
.offers::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background-color: #202242
}
.offer__inner,
.review__bottom {
  position: relative
}
.offers::after {
  width: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%)
}
.offer {
  width: 50%;
  color: #fff
}
.offer__body {
  padding: 115px 83px 104px
}
@media (max-width:1023px) {
  .menu {
    margin-top: 0
  }
  .offer__body {
    padding: 90px 55px 80px
  }
}
@media (max-width:767px) {
  .menu__item {
    margin-left: 25px
  }
  .offer__body {
    padding: 50px 20px
  }
}
.offer__inner {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.offer__sign {
  height: 169px
}
@media (max-width:1023px) {
  .offer__sign {
    height: 120px
  }
}
@media (max-width:480px) {
  .offer__sign {
    font-size: 80px
  }
}
.offer__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  margin: 52px 0 14px
}
@media (max-width:1200px) {
  .offer__title {
    font-size: 30px;
    margin-top: 50px
  }
}
@media (max-width:767px) {
  .offer__sign {
    height: 90px
  }
  .offer__title {
    font-size: 22px;
    margin-top: 45px
  }
}
.offer__text {
  margin-bottom: 36px
}
.offer__more {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  min-height: 50px;
  min-width: 149px;
  color: inherit;
  text-decoration: none;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0 0 1px #fff;
  box-shadow: inset 0 0 1px #fff;
  cursor: pointer
}
@media (max-width:600px) {
  .offer__title {
    font-size: 18px;
    margin-top: 36px
  }
  .offer__more {
    min-height: 40px;
    min-width: 110px;
    line-height: 40px
  }
}
.offer_host .offer__sign {
  margin: auto;
  background: url(../img/webhost.png) 50% 50% no-repeat;
  background-size: contain
}
.offer_domain .offer__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #202242;
  font-weight: 700;
  font-size: 132px
}
@media (max-width:1023px) {
  .offer_domain .offer__sign {
    font-size: 100px
  }
}
@media (max-width:767px) {
  .offer_domain .offer__sign {
    font-size: 80px
  }
}
@media (max-width:480px) {
  .offer_domain .offer__sign {
    font-size: 60px
  }
}
.promo {
  background: url(../img/promo-bg.png) center bottom no-repeat;
  background-size: cover;
  color: #fff
}
.promo__title {
  font-family: 'Maven Pro',sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: -16px 0 0;
  line-height: 1.15
}
.promo__inner {
  height: 794px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 1.5rem
}
.promo__img {
  display: block;
  opacity: .8;
  margin: 42px 0 60px
}
@media (max-width:767px) {
  .promo__img {
    margin: 30px 0 45px
  }
}
.promo__img img {
  max-width: 100%
}
.reviews {
  max-width: 1170px;
  margin: 0 auto 46px
}
@media (max-width:1200px) {
  .promo__title {
    font-size: 40px
  }
  .promo__inner {
    height: 650px
  }
  .reviews {
    padding: 0 1.5rem
  }
}
.reviews__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.reviews__item + .reviews__item {
  margin-left: 20px
}
@media (max-width:1023px) {
  .reviews__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .reviews__item + .reviews__item {
    margin-left: 0
  }
}
.review {
  width: 372px;
  padding: 25px 22px;
  color: #696969;
  background: #faf9f9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 60px
}
@media (max-width:1200px) {
  .review {
    width: auto
  }
}
.review__text {
  font-style: italic;
  margin: 0 0 13px;
  color: #a4a4a4
}
.review__author {
  font-size: 16px;
  font-weight: 700
}
.review__avatar {
  position: absolute;
  right: 7px;
  top: 0;
  width: 89px;
  height: 89px
}
.review__avatar img {
  display: block;
  border-radius: 100%
}
.hover_blue {
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out
}
.hover_blue:hover {
  background: #202242;
  color: #fff;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in
}
.hover_yellow {
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out
}
.hover_yellow:hover {
  background: #ffe13e;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in
}